<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../../bower_components/kwc-beacon/kwc-beacon.html">
<link rel="import" href="../elements/tc-ide/tc-ide.html">
<link rel="import" href="../mixins/view-mixin.html">

<dom-module id="tc-challenge-view">
    <template>
        <style include="iron-flex iron-flex-alignment">  
            :host {
                display: block;
                height: 100%;
                width: 100%;
                background: #292f35;
            }
            #ide {
                height: 100%;
                width: 100%;
            }
            [hidden] {
                display: none !important;
            }
        </style>
        
        <tc-ide id="ide" on-change="_lineChanged" code="[[code]]" drawer-opened="{{drawerOpened}}" on-active-tab-changed="placeBeacon" on-fullscreen-changed="onFullscreenChanged">
            <div class="drawer-tab" slot="drawer" on-tap="_openSave">Save</div>
            <div class="drawer-tab" slot="drawer" on-tap="_goToPlayground">Playground</div>
            <a href="https://kano.me/" slot="drawer" class="drawer-tab" target="_blank" on-tap="_shopLinkTapped">More from Kano</a>
        </tc-ide>
        <kwc-beacon id="beacon"></kwc-beacon>
    </template>

    <script>

        class TcChallengeView extends Kano.Tapcode.ViewMixin(Polymer.GestureEventListeners(Polymer.Element)) {
            static get is() { 
                return 'tc-challenge-view';
            }
      
            static get properties() {
                return {
                    challengeName: {
                        type: String,
                        linkState: 'challenge.name',
                        observer: '_onChallengeSet'
                    },
                    tasks: {
                        type: Array,
                        linkState: 'challenge.tasks'
                    },
                    task: {
                        type: Object,
                        computed: 'computeTask(taskIndex, tasks.*)',
                        observer: '_onTaskChanged'
                    },
                    taskIndex: {
                        type: Number
                    },
                    validators: {
                        type: Object,
                        value: () => {
                            return {}
                        }
                    }
                }
            }
      
            constructor () {
                super();
                Polymer.RenderStatus.afterNextRender(this, () => {
                    this._addValidator('add-code', 'matchAddCode');
                    this._addValidator('param-change', 'matchParamChange');
                    this._addValidator('param-value', 'matchParamValue');
                });
            }

            _onChallengeSet (challengeName) {
                if (!challengeName) {
                    return;
                }
                
                this.dispatchEvent(
                    new CustomEvent('track-challenge-event', {
                        bubbles: true,
                        composed: true,
                        detail: {
                            type: 'attempt',
                            data: {
                                name: challengeName
                            }
                        }
                    })
                );
            }
    
            _lineChanged (e) {
                if (!this.task || !this.task.validation) {
                    return;
                }
                this._checkEvent(this.task.validation, e.detail);
            }
    
            computeTask (taskIndex) {
                this.taskIndex = typeof this.taskIndex === 'undefined' ? 0 : this.taskIndex;
                return this.tasks[this.taskIndex];
            }
    
            _onTaskChanged (task) {
                if (!task) {
                    return;
                }
                this.$.ide.scrollLineToView(task.insert)
                    .then(() => {
                        if (task.validation && task.validation['add-code']) {
                            let name = task.validation['add-code'].name;
                            this.$.ide.set(`whitelist`, [name]);
                            Kano.Tapcode.api.forEach(statement => {
                                if (statement.name === name) {
                                    this.target = statement;
                                }
                            });
                            this.placeBeacon();
                        } else if (task.validation && (task.validation['param-change'] || task.validation['param-value'])) {
                            this.$.ide.set(`whitelist`, []);
                            this.target = {
                                type: 'keypad'
                            };
                            this.placeBeacon();
                        } else {
                            this.set('target', null);
                        }
                        this.$.ide.addComment(task.insert, task.text, task.cursorPosition)
                    });
            }
            /**
             * Goes through all the defined validations and check them
             */
            _checkEvent (validation, detail) {
                let trackingData;

                Object.keys(validation).forEach((type) => {
                    if (type !== detail.type) {
                        return;
                    }

                    if (this._validateEvent(validation[type], type, detail)) {
                        trackingData = {
                            name: this.challengeName
                        };
                        this.dispatchEvent(
                            new CustomEvent('track-challenge-event', {
                                bubbles: true,
                                composed: true,
                                detail: {
                                    type: 'step_complete',
                                    data: {
                                        name: this.challengeName,
                                        stepIndex: this.taskIndex
                                    }
                                }
                            })
                        );
                        this.nextStep();
                    }
                });
            }

            placeBeacon () {
                if (!this.$.ide || !this.target) {
                    return;
                }
                setTimeout(()=> {
                    if (!this.target.name) {
                        if (this.$.ide.activeTab === 'number' || this.$.ide.activeTab === 'color' ) {
                            this.$.beacon.set('offset', 0);
                            this.$.beacon.set('target', null);
                        } else {
                            this.$.beacon.set('offset', 12);
                            this.$.beacon.set('target', this.$.ide.shadowRoot.querySelector('#keypad'));
                        }
                    } else if (this.target.returns) {
                        if (this.$.ide.activeTab === 'expressions') {
                            this.$.beacon.set('offset', 0);
                            this.$.beacon.set('target', this.$.ide.shadowRoot.querySelector(`#${this.target.name}`));
                        } else {
                            this.$.beacon.set('offset', 12);
                            this.$.beacon.set('target', this.$.ide.shadowRoot.querySelector('#expression-tab'));
                        }
                    } else {
                        if (this.$.ide.activeTab === this.target.type) {
                            this.$.beacon.set('target', this.$.ide.shadowRoot.querySelector(`#${this.target.name}`));
                            this.$.ide.scrollSnippetToView(this.target.name);
                        } else if (this.target.type) {
                            this.$.beacon.set('target', this.$.ide.shadowRoot.querySelector(`#${this.target.type}-tab`));
                        } else {
                            this.$.beacon.set('offset', 0);
                            this.$.beacon.set('target', null);
                        }
                    }
                }, 250);
            }
    
            nextStep () {
                this.taskIndex++;
                if (this.taskIndex === this.tasks.length - 1) {
                    this.dispatchEvent(
                        new CustomEvent('track-challenge-event', {
                            bubbles: true,
                            composed: true,
                            detail: {
                                type: 'challenge_complete',
                                data: {
                                    name: this.challengeName
                                }
                            }
                        })
                    );
                    this.set('target', null);
                }
            }
    
            _validateEvent (validation, type, detail) {
                if (this.validators[type] && this[this.validators[type]].call(this, validation, detail)) {
                    return true;
                }
            }
    
            _addValidator (type, method) {
                this.validators[type] = method;
            }
            
            arraysEqual (arr1, arr2) {
                if(arr1.length !== arr2.length)
                    return false;
                for (var i = arr1.length; i--;) {
                    if (arr1[i] !== arr2[i])
                        return false;
                }
                return true;
            }

            matchAddCode (validation, detail) {
                if (validation.scope && !this.arraysEqual(detail.currentSegment.scope, validation.scope)) {
                    return;
                }
                if (typeof validation.paramIndex !== 'undefined' && validation.paramIndex !== detail.currentSegment.paramIndex) {
                    return;
                }
                return validation.name === detail.name;
            }
    
            matchParamChange (validation, event) {
                let paramIndex = event.currentSegment.paramIndex;
                let scope = event.currentSegment.scope[event.currentSegment.scope.length - 1];
                let instanceId = scope + '-' + paramIndex;
                return validation.id === instanceId;
            }
    
            matchParamValue (validation, event) {
                let paramIndex = event.currentSegment.paramIndex;
                // Take its own scope
                let scope = event.currentSegment.scope[event.currentSegment.scope.length - 1];
                let instanceId = scope + '-' + paramIndex;
                return validation.id === instanceId && validation.value === parseFloat(event.currentSegment.value);
            }

            _goToPlayground () {
                this.eventRegister = 'playground';
                // Trigger the close event for tracking
                this.$.ide._closeDrawer();
                this.dispatchEvent(
                    new CustomEvent('change-view', {
                        bubbles: true,
                        composed: true,
                        detail: 'editor'
                    })
                );
            }

            onFullscreenChanged (e) {
                let fullscreen = e.detail.value;
                if (this.$.beacon.halt && !fullscreen) {

                    // Wait for animation to finish
                    setTimeout(() => {
                        this.$.beacon.halt = fullscreen;
                    }, 300);
                } else {
                    this.$.beacon.halt = fullscreen;
                }
            }

        }
        customElements.define(TcChallengeView.is, TcChallengeView);
    </script>

</dom-module>
