<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../elements/tc-ide/tc-ide.html">
<link rel="import" href="../mixins/view-mixin.html">

<dom-module id="tc-challenge-view">
    <template>
        <style include="iron-flex iron-flex-alignment">  
            :host {
                display: block;
                height: 100%;
                width: 100%;
                background: #292f35;
            }
            #ide {
                height: 100%;
                width: 100%;
            }
            [hidden] {
                display: none !important;
            }
        </style>
        
        <tc-ide id="ide" on-change="_lineChanged" code="[[code]]">
            <div class="drawer-tab" slot="drawer" on-tap="_openSave">Save</div>
            <div class="drawer-tab" slot="drawer" on-tap="_goToPlayground">Playground</div>
            <a href="https://kano.me/" slot="drawer" class="drawer-tab" target="_blank" on-tap="_shopLinkTapped">More from Kano</a>
        </tc-ide>
    </template>

    <script>

        class TcChallengeView extends Kano.Tapcode.ViewMixin(Polymer.GestureEventListeners(Polymer.Element)) {
            static get is() { 
                return 'tc-challenge-view';
            }
      
            static get properties() {
                return {
                    challenge: {
                        type: Object,
                        linkState: 'challenge.name',
                        observer: '_onChallengeChanged'
                    },
                    tasks: {
                        type: Array,
                        linkState: 'challenge.tasks'
                    },
                    stepIndex: {
                        type: Number,
                        value: 0
                    },
                    task: {
                        type: Object,
                        computed: 'computeTask(taskIndex, tasks.*)',
                        observer: '_onTaskChanged'
                    },
                    taskIndex: {
                        type: Number
                    },
                    validators: {
                        type: Object,
                        value: () => {
                            return {}
                        }
                    }
                }
            }
      
            constructor () {
                super();
                Polymer.RenderStatus.afterNextRender(this, () => {
                    this._addValidator('add-code', 'matchAddCode');
                    this._addValidator('param-change', 'matchParamChange');
                    this._addValidator('param-value', 'matchParamValue');
                });
            }
            
            _onChallengeChanged (challengeName) {
                if (!challengeName) {
                    return;
                }
                
                this.dispatchEvent(
                    new CustomEvent('track-challenge-event', {
                        bubbles: true,
                        composed: true,
                        detail: {
                            type: 'attempt',
                            data: {
                                name: challengeName
                            }
                        }
                    })
                );
            }
    
            _lineChanged (e) {
                if (!this.task || !this.task.validation) {
                    return;
                }
                this._checkEvent(this.task.validation, e.detail);
            }
    
            computeTask (taskIndex) {
                this.taskIndex = typeof this.taskIndex === 'undefined' ? 0 : this.taskIndex;
                return this.tasks[this.taskIndex];
            }
    
            _onTaskChanged (task) {
                if (!task) {
                    return;
                }
                this.$.ide.scrollLineToView(task.insert)
                    .then(() => {
                        if (task.validation && task.validation['add-code']) {
                            this.$.ide.set(`whitelist`, [task.validation['add-code'].name]);
                        } else {
                            this.$.ide.set(`whitelist`, []);
                        }
                        this.$.ide.addComment(task.insert, task.text, task.cursorPosition)
                    });
            }
            /**
             * Goes through all the defined validations and check them
             */
            _checkEvent (validation, detail) {
                let trackingData;

                Object.keys(validation).forEach((type) => {
                    if (type !== detail.type) {
                        return;
                    }

                    if (this._validateEvent(validation[type], type, detail)) {
                        trackingData = {
                            id: this.challenge.id,
                            name: this.challenge.name
                        };

                        if (this.taskIndex === this.tasks.length - 1) {
                        } else {
                            this.nextStep();
                        }
                        
                        this.dispatchEvent(
                            new CustomEvent('track-challenge-event', {
                                bubbles: true,
                                composed: true,
                                detail: {
                                    type: 'complete',
                                    data: trackingData
                                }
                            })
                        );
                    }
                });
            }
    
            nextStep () {
                this.taskIndex++;
            }
    
            _validateEvent (validation, type, detail) {
                if (this.validators[type] && this[this.validators[type]].call(this, validation, detail)) {
                    return true;
                }
            }
    
            _addValidator (type, method) {
                this.validators[type] = method;
            }
            
            arraysEqual (arr1, arr2) {
                if(arr1.length !== arr2.length)
                    return false;
                for (var i = arr1.length; i--;) {
                    if (arr1[i] !== arr2[i])
                        return false;
                }
                return true;
            }

            matchAddCode (validation, detail) {
                if (validation.scope && !this.arraysEqual(detail.currentSegment.scope, validation.scope)) {
                    return;
                }
                if (typeof validation.paramIndex !== 'undefined' && validation.paramIndex !== detail.currentSegment.paramIndex) {
                    return;
                }
                return validation.name === detail.code.name;
            }
    
            matchParamChange (validation, event) {
                let paramIndex = event.currentSegment.paramIndex;
                let scope = event.currentSegment.scope[event.currentSegment.scope.length - 1];
                let instanceId = scope + '-' + paramIndex;
                return validation.id === instanceId;
            }
    
            matchParamValue (validation, event) {
                let paramIndex = event.currentSegment.paramIndex;
                // Take its own scope
                let scope = event.currentSegment.scope[event.currentSegment.scope.length - 1];
                let instanceId = scope + '-' + paramIndex;
                return validation.id === instanceId && validation.value === parseFloat(event.currentSegment.value);
            }
            
            _goToPlayground () {
                this.dispatchEvent(
                    new CustomEvent('change-view', {
                        bubbles: true,
                        composed: true,
                        detail: 'editor'
                    })
                );
                this._trackEvent('clicked in menu - playground');
            }
            
        }
        customElements.define(TcChallengeView.is, TcChallengeView);
    </script>

</dom-module>
