<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/polymer/lib/mixins/gesture-event-listeners.html">
<link rel="import" href="../elements/tc-ide/tc-ide.html">
<link rel="import" href="../mixins/view-mixin.html">

<dom-module id="tc-editor-view">

    <template>
  
        <style include="iron-flex iron-flex-alignment">
            :host {
                display: block;
                height: 100%;
                width: 100%;
                background: #292f35;
            }
            #ide {
                height: 100%;
                width: 100%;
            }
            :host([fullscreen]) .to-top {
                transform: translateY(-100%);
            }
            .to-top {
                transition: transform 0.3s;
            }
            [hidden] {
                display: none !important;
            }
        </style>
        <tc-ide id="ide" code="[[code]]" presentation="{{presentation}}" on-presentation-cta-tapped="_goToChallenge">
            <div class="drawer-tab" slot="drawer" on-tap="_startNew">New</div>
            <div class="drawer-tab" slot="drawer" on-tap="_openSave">Save</div>
            <div class="drawer-tab" slot="drawer" on-tap="_goToChallenge">Start a challenge</div>
            <a href="https://kano.me/" slot="drawer" class="drawer-tab" target="_blank" on-tap="_shopLinkTapped">More from Kano</a>
        </tc-ide>
    </template>

    <script>

      class TcEditorView extends Kano.Tapcode.ViewMixin(Polymer.GestureEventListeners(Polymer.Element)) {
        static get is() { 
            return 'tc-editor-view';
        }
  
        constructor () {
            super();
            this._presentationChanged = this._presentationChanged.bind(this);
        }
        
        static get properties() {
            return {
                presentation: {
                    type: Boolean,
                    linkState: 'challenge.presentation',
                    observer: '_onPresentationChanged'
                }
            }
        }
        
        connectedCallback () {
            super.connectedCallback();
            if (!this.$.ide) {
                return;
            }
            this.$.ide.addEventListener('presentation-changed', this._presentationChanged);
        }

        disconnectedCallback () {
            super.disconnectedCallback();
            if (!this.$.ide) {
                return;
            }
            this.$.ide.removeEventListener('presentation-changed', this._presentationChanged);
            
            this.dispatch({
                type: 'SET_CODE',
                data: {
                    lines: JSON.parse(JSON.stringify(Kano.Tapcode.Config.INITIAL_STATE.code.lines))
                }
            });
            
            this.dispatch({
                type: 'SET_CHALLENGE',
                data: {
                    tasks: []
                }
            });
        }
        
        _startNew () {
            this.$.ide.clearCode();
            this.setBackUrl();
            this._trackEvent('clicked in menu - new');
        }
        
        _presentationChanged (e) {
            this.dispatch({
                type: 'SET_PRESENTATION',
                value: e.detail.value
            });
        }

        _goToChallenge () {
            this.dispatchEvent(
                new CustomEvent('change-view', {
                    bubbles: true,
                    composed: true,
                    detail: 'challenge'
                })
            );
            this._trackEvent('clicked in menu - challenge');
        }

        _onPresentationChanged (newValue, oldValue) {
            // Rewrite URL if coming from presentation
            if (oldValue && !newValue) {
                this.setBackUrl();
            }
        }

        setBackUrl () {
            window.history.pushState(null, null, '/');
        }
      }
      customElements.define(TcEditorView.is, TcEditorView);
    </script>

</dom-module>

